body {
    background-color: #282a36;
    color: #f8f8f2;
    font-family: monospace;
}

.highlight-notfound {
    color: #ff5555;
}

.highlight-found {
    color: #50fa7b;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
 }

 .tooltiptext {
    visibility: hidden;
    background-color: #44475a;
    border-color: #6272a4;
    border-style: solid;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 125%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    width:25vw;
 }

 /* Show the tooltip text when hovering on the span element */
 .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
 }
