body {
    background-color: #282a36;
    color: #f8f8f2;
    font-family: monospace;
    font-size: 2vh;
    position: relative;
    display: inline-block;
}
h1 {
    font-size: 6vh;
    max-width: max-content;
    display: inline-block;
}
h3 {
    font-size: 4vh;
}

.form-buffer {
    height: 10vh;
}

textarea {
    background-color: #44475a;
    color: #f8f8f2;
    font-size: 2vh;
    position: absolute;
    left: 0;
    right: 0;
    height: 10vh;
}
input {
  font-size: 2vh;
}

.highlight-notfound {
    color: #ff5555;
    font-size: 2vh;
}

.highlight-found {
    color: #50fa7b;
    font-size: 2vh;
}

#processed_block {
    position: absolute;
    left: 0;
    right: 0;
}

.tooltip {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 2vh;
 }

 .tooltiptext {
    visibility: hidden;
    background-color: #44475a;
    border-color: #6272a4;
    border-style: solid;
    color: #f8f8f2;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 125%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    width:25vw;
    font-size: 2vh;
 }

 /* Show the tooltip text when hovering on the span element */
 .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
 }
